body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    max-height:100%;
}

#header {
    color: #81bea7;
    font-family: 'Sitka Display';
    text-align: center;
    font-size: 15px;
    width: 1250px;
    margin: 0 auto;
    background-color: #f889a2;
}

.wrap {
    height: 800px;
    width: 1250px;
    margin: 0 auto;

}

.menu {
    height: 50px;
    margin-bottom: 5px;
    background-color: #f889a2;
    padding: 5px;
    padding-right: 10px;
    font-family: 'Sitka Display';
}

    .menu.li {
        padding-right: 15px;
    }

.content {
    width: 1250px;
    height: 650px;
    background-color: #d7f2f0;
    float: right;
}

.nav {
    width: 70px;
    height: 650px;
    background-color: #0094ff;
    float: left;
}

.footer {
    height: 40px;
    margin-top: 10px;
    background-color: #080e79;
    background-color: #0094ff;
    color: white;
    text-align: center;
    font-size: 20px;
}

.clear {
    clear: both;
}

li a {
    color: white;
    font-size: 30px;
    column-width: 5px;
}

li {
    display: inline;
    padding-left: 2px;
    column-width: 20px;
}

a {
    text-decoration: none;
    margin-left: 20px
}

li a:hover {
    background-color: #0c588f;
    color: #ffd800;
    padding: 1%;
}
